body {
  background-image: url(http://wallpaper-gallery.net/images/minimalistic-wallpapers/minimalistic-wallpapers-3.jpg);
  background-size: cover;
}

h1 {
  font-display: block;
  text-align: center;
  font-family: 'Alex Brush';font-size: 60px;
}

#opening-paragraph {
  font-family: 'Allerta Stencil';font-size: 35px;
  color: #31033B;
}

.questions {

}

.answers {
  
}
