body {
  background-image: url(http://wallpaper-gallery.net/images/minimalistic-wallpapers/minimalistic-wallpapers-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-display: block;
  text-align: center;
  font-family: 'Alex Brush';font-size: 90px;
}

#opening-paragraph {
  font-family: 'Allerta Stencil';font-size: 35px;
  color: #31033B;
  text-align: center;
  margin: 20px;
}

.questions {
  font-family: 'Armata';font-size: 31px;
}

.answers {
  font-family: 'Armata';font-size: 22px;
}

#questions-and-answers {
  background: rgba(175, 175, 175, 0.5);
  border-radius: 25px;
}

#top_ten_content {
  background: rgba(175, 175, 175, 0.5);
  border-radius: 25px;
}

#top_ten_opening_paragraph {
  font-family: 'Armata';font-size: 31px;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

#top_ten_header {
  font-family: 'Sarpanch';font-size: 60px;
}

#top_ten_list {
  font-family: 'Sarpanch';font-size: 45px;
}

.top_ten_explanations {
  font-family: 'Armata';font-size: 26px;
  margin-left: 15px;
}

li {
  margin-left: 15px;
}

#ten {
  margin-left: 30px;
}

span {
  text-decoration: line-through;
}
